@font-face {
    font-family: yamato;
    src: url(/fonts/Kajiro\ Bold.ttf);
}
@font-face {
    font-family: prajwol;
    src: url(/fonts/Gilroy-Regular.ttf);
 }
 
 *{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family: prajwol;
}

html,body{
Width:100%;
Height:100%;
}
#main{
    width:100%;
    height:100vh;
    /* background-color: #333; */
}
#back{
    width:100%;
    height:100vh;
    background-color:red;
}
#back img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;

}
#top{
    /* display:none; */
    pointer-events: none;
    width:100%;
    height:100vh;
    /* background-color: rgba(0, 0, 0, 0.459); */
    position:absolute;
    top:0;
    left:0;

}
#top #working-area{
    position:relative;
    width:80%;
    height: 100vh;
    max-width: 1920px;
    /* background-color: #dadada; */
    margin:0 auto;
}
#nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:2vw 0;

}
.n-left, .n-right{
 display:flex;
 align-items:center;
 gap:4vw;   
}
.n-left img{
    height:7vh;
}
#nav a{
    pointer-events: all;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    font-size:1vw;
}

/* start of hero part */
#hero{
    position:absolute;
    top:55%;
    left: 0%;
    transform: translate(0,-50%);
    display:flex; 
    justify-content: space-between; 
    width:100%;
}
.hero-left{
   min-width:50%;
}
.hero-left .elem{
    height:9vw;
    overflow:hidden;
    position:relative;

}
.hero-left .elem h1{
    position:absolute;
    left:0;
    top:100%;
    line-height: .9;
    font-size:11vw;
    font-family:yamato;
    color:white;
    font-weight:50;
}
.elem h1:nth-child(1){
    left:0;
    top:0;
}
.hero-left button{
    pointer-events: all;
    margin-top: 1.5vw;
    padding:.3vw 3.6vw;
    font-size:3vw;
    font-family:yamato;
    font-weight: 100;
}
.hero-right{
    display:flex;
    flex-direction: column;
    /* justify-content:center ; */
    align-items:flex-end;
    width:17%;
    min-height:10vh;
    color:#fff;

}
.hero-right p{
    text-align:right;
    font-weight:300;
    font-size:.8vw;

}
.hero-right .image-div{
    margin-top:1vw;
    margin-bottom: 1vw;
    width:100%;
    height:20vh;
    background-color:red;
    background-image: url(https://images.unsplash.com/photo-1469334031218-e382a71b716b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z2lybCUyMHdpdGglMjBwbGFuZSUyMGJhY2tncm9uZHxlbnwwfHwwfHx8MA%3D%3D);
    
    background-size: cover;
    background-position:center;

}
.hero-right p:nth-child(3){
    margin-bottom:2.2vw;
}